/* Navigation Bar */
.nav {
    background-color: lightgray;
    border: solid;
    border-color: black;
}

/* Negative Percentages Code Below */
th.perneg {
    color: red;
}

/* Positive Percentages Code Below */
th.perpos {
    color: rgb(0, 210, 0);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 700px;

}
td, th {
    border: 2px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table.tabledisplay {
    display: none;
    margin: auto;
}

#buttonedit {
    background-color: rgb(231, 231, 231);
    font-size: 18px;
    font-weight: bold;
    border: 4px solid black;
    margin: auto;
    display: block;
}

/*Dropdown button on hover*/
#buttonedit:hover{
    background-color: rgb(50, 50, 50);
    color: white;
}
